<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1d25c41b-61b0-4cea-910b-23a48fe5b7af/resourceGroups/DefaultResourceGroup-DEWC/providers/Microsoft.Web/sites/garagebackend20250107115750/slots/garagebackend</ResourceId>
    <ResourceGroup>DefaultResourceGroup-DEWC</ResourceGroup>
    <ApiResourceId>/subscriptions/1d25c41b-61b0-4cea-910b-23a48fe5b7af/resourceGroups/DefaultResourceGroup-DEWC/providers/Microsoft.ApiManagement/service/garagebackendapi2/apis/garagebackendapi2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://garagebackend20250107115750-garagebackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8e9e041e-f065-402c-881a-fd7c6acd6f2b</ProjectGuid>
    <MSDeployServiceURL>garagebackend20250107115750-garagebackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>garagebackend20250107115750__garagebackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>